CryptMe_Client/Service References/CryptMe/CryptMe.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CryptMe" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="BasicHttpBinding_ICryptMe_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsoma:OptimizedMimeSerialization xmlns:wsoma="http://schemas.xmlsoap.org/ws/2004/09/policy/optimizedmimeserialization" />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsp:Policy wsu:Id="NetTcpBinding_ICryptMe_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:6779/CryptMe?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:6779/CryptMe?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICryptMe_CheckUser_InputMessage">
    <wsdl:part name="parameters" element="tns:CheckUser" />
  </wsdl:message>
  <wsdl:message name="ICryptMe_CheckUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:CheckUserResponse" />
  </wsdl:message>
  <wsdl:message name="ICryptMe_RegisterUser_InputMessage">
    <wsdl:part name="parameters" element="tns:RegisterUser" />
  </wsdl:message>
  <wsdl:message name="ICryptMe_RegisterUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegisterUserResponse" />
  </wsdl:message>
  <wsdl:message name="ICryptMe_CryptAES_InputMessage">
    <wsdl:part name="parameters" element="tns:CryptAES" />
  </wsdl:message>
  <wsdl:message name="ICryptMe_CryptAES_OutputMessage">
    <wsdl:part name="parameters" element="tns:CryptAESResponse" />
  </wsdl:message>
  <wsdl:message name="ICryptMe_DecryptAES_InputMessage">
    <wsdl:part name="parameters" element="tns:DecryptAES" />
  </wsdl:message>
  <wsdl:message name="ICryptMe_DecryptAES_OutputMessage">
    <wsdl:part name="parameters" element="tns:DecryptAESResponse" />
  </wsdl:message>
  <wsdl:portType name="ICryptMe">
    <wsdl:operation name="CheckUser">
      <wsdl:input wsaw:Action="http://tempuri.org/ICryptMe/CheckUser" message="tns:ICryptMe_CheckUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICryptMe/CheckUserResponse" message="tns:ICryptMe_CheckUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RegisterUser">
      <wsdl:input wsaw:Action="http://tempuri.org/ICryptMe/RegisterUser" message="tns:ICryptMe_RegisterUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICryptMe/RegisterUserResponse" message="tns:ICryptMe_RegisterUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CryptAES">
      <wsdl:input wsaw:Action="http://tempuri.org/ICryptMe/CryptAES" message="tns:ICryptMe_CryptAES_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICryptMe/CryptAESResponse" message="tns:ICryptMe_CryptAES_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DecryptAES">
      <wsdl:input wsaw:Action="http://tempuri.org/ICryptMe/DecryptAES" message="tns:ICryptMe_DecryptAES_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICryptMe/DecryptAESResponse" message="tns:ICryptMe_DecryptAES_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ICryptMe" type="tns:ICryptMe">
    <wsp:PolicyReference URI="#BasicHttpBinding_ICryptMe_policy" />
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CheckUser">
      <soap:operation soapAction="http://tempuri.org/ICryptMe/CheckUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RegisterUser">
      <soap:operation soapAction="http://tempuri.org/ICryptMe/RegisterUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CryptAES">
      <soap:operation soapAction="http://tempuri.org/ICryptMe/CryptAES" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DecryptAES">
      <soap:operation soapAction="http://tempuri.org/ICryptMe/DecryptAES" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="NetTcpBinding_ICryptMe" type="tns:ICryptMe">
    <wsp:PolicyReference URI="#NetTcpBinding_ICryptMe_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="CheckUser">
      <soap12:operation soapAction="http://tempuri.org/ICryptMe/CheckUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RegisterUser">
      <soap12:operation soapAction="http://tempuri.org/ICryptMe/RegisterUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CryptAES">
      <soap12:operation soapAction="http://tempuri.org/ICryptMe/CryptAES" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DecryptAES">
      <soap12:operation soapAction="http://tempuri.org/ICryptMe/DecryptAES" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CryptMe">
    <wsdl:port name="BasicHttpBinding_ICryptMe" binding="tns:BasicHttpBinding_ICryptMe">
      <soap:address location="http://localhost:6778/CryptMeHttp" />
    </wsdl:port>
    <wsdl:port name="NetTcpBinding_ICryptMe" binding="tns:NetTcpBinding_ICryptMe">
      <soap12:address location="net.tcp://localhost:8080/tcp" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:8080/tcp</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Upn>DESKTOP-GJOQB72\Flo</Upn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>